<div class="row">
    <div class="col-2 bg-light vh-100 p-5 side-menu d-flex flex-column justify-content-between">
        <ul>
            <li class="list-unstyled  mb-5">
                <h1>
                    <img src="../assets/img/logo-ANSWER.svg" alt="">
                </h1>
            </li>
            <li class="list-unstyled  mb-4">
                <a href="#" class="d-flex align-items-center">
                    <span class="material-icons me-3">assessment</span>
                    Dashboard
                </a>
            </li>
            <li class="list-unstyled  mb-4">
                <a href="" class="d-flex align-items-center">
                    <span class="material-icons me-3">question_answer</span>
                Question
                </a>
            </li>
            <li class="list-unstyled  mb-4">
                <a href="#" class="d-flex align-items-center">
                    <span class="material-icons me-3">assignment</span>
                    Assignment
                </a>
            </li>
            <li class="list-unstyled  mb-4">
                <a href="#" class="d-flex align-items-center">
                    <span class="material-icons me-3">video_library</span>
                    Course
                </a>
            </li>
            <li class="list-unstyled  mb-4">
                <a href="#" class="d-flex align-items-center">
                    <span class="material-icons me-3">supervisor_account</span>
                Admin
                </a>
            </li>
            <li class="list-unstyled  mb-4">
                <a href="#" class="d-flex align-items-center">
                    <span class="material-icons me-3">settings</span>
                    Settings
                </a>
               
            </li>
        </ul>
        <div class="profile d-flex ">
            <img src="https://images.unsplash.com/photo-1514794749374-fb67509dbb7f?ixlib=rb-1.2.1&ixid=eyjhchbfawqiojeymdd9&auto=format&fit=crop&w=2000&q=80" alt="" class="me-3">
            <div>
                <h6 class="mb-0">Andy Chen</h6>
                <p>andy0401@mail.com</p>
            </div>
        </div>
    </div>
</div>